body {
  font-family: 'Open Sans', sans-serif;
}

header {
  font-family: 'Bitter', serif;
}

.hero {
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.text-black {
  color: #000000;
}

.text-hola {
  color: #FF009E;
  font-size: 60px;
}

.bg-yellow {
  background-color: #FFE521;
}

.bg-magenta {
  background-color: #FF009E; 
}

.bg-green {
  background-color: #56F89A;
}

.btn-outline-magenta {
  color: #FF009E;
  background-color: transparent;
  background-image: none;
  border-color: #FF009E; 
}

.btn-outline-magenta:hover {
  color: #fff;
  background-color: #FF009E; 
  border-color: #FF009E; 
}

.title-js {
  font-size: 35px;
}

.counter-js {
  font-size: 14px;
}

.question-js {
  font-size: 25px;
}

.vh-100 {
  height: 100vh;
}

.vh-15 {
  height: 15vh;
}

.vh-75 {
  height: 75vh;
}

.line-height {
  line-height: 1.6;
}

.hr-small {
  border: none;
  border-top: 0.3rem solid #FF009E;
  /* border-top: 0.2rem solid #FF009E; */
  width: 4rem;
}

.progress-bar-container {
  margin: 2em 0 1em;
  width: 60%;
}

.progress-counter-container{
  font-size: 0.8em;
}

.user-progress-bar {
  width: 0%;
}

.counter-span {
  margin-right: 0.5em;
}

.uploadcare--widget__button_type_open, .uploadcare--widget__button_type_open:hover, .uploadcare--widget__button_type_open:active, .uploadcare--widget__button_type_open:focus {
  background-color: #FFE521;
  color: #343a40!important;
  font-weight: bold;
  border-radius: 4px;
}

.uploadcare--panel__footer, .uploadcare--preview__back, .uploadcare--camera__button_type_capture, .uploadcare--file__remove, .uploadcare--camera__button_type_cancel-record {
  display: none;
}

.uploadcare--file__progressbar {
  margin-right: 2em;
}

.uploadcare--widget_status_loaded {
  display: none;
}

.uploadcare--dialog__container {
  align-items: center;
  height: 78%;
}

.span {
  border-radius: 5px;
  display: block;
  font-size: .8em;
  text-align: center;
  position: absolute;
  background: #56F89A;
  left: 105%;
  margin-top: -36px;
  width: 160px;
  padding: 7px 10px;
  color: rgb(0, 0, 0);
}

.span:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-right-color: #56F89A;
  border-width: 8px;
  margin-top: -8px;
}

.chevron-left {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 300px;
}

.chevron-right {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 300px;
}

#btn-fb {
  height: 100px;
  width: 130px;
  margin-top: 10px;
}

#btn-google {
  height: 85px;
  width: 115px;
  margin-top: 10px;
}

body .container .progress-bar {
  background-color: #FF009E;
}

#logout {
  padding: 15px;
  font-size: 20px;
}

.text-listo {
  color: rgb(0, 0, 0);
  font-size: 50px;
}