body {
  font-family: 'Open Sans', sans-serif;
}

header {
  font-family: 'Bitter', serif;
}

.hero {
  background-image: url('../assets/images/background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg-yellow {
  background-color: #FFE521;
}

.vh-100 {
  height: 100vh;
}

.vh-10 {
  height: 15vh;
}

.vh-90 {
  height: 85vh;
}

.line-height {
  line-height: 1.6;
}

.hr-small {
  border: none;
  border-top: 0.2rem solid #FFE521;
  /* border-top: 0.2rem solid #FF009E; */
  width: 4rem;
}

.progress-bar-container {
  margin: 2em 0 1em;
  width: 100%;
}

.progress-counter-container{
  font-size: 0.8em;
  float: right;
}

.user-progress-bar {
  width: 0%;
}

.counter-span {
  margin-right: 0.5em;
}

.uploadcare--widget__button_type_open, .uploadcare--widget__button_type_open:hover, .uploadcare--widget__button_type_open:active, .uploadcare--widget__button_type_open:focus {
  background-color: #FFE521;
  color: #343a40!important;
  font-weight: bold;
  border-radius: 4px;
}

.uploadcare--panel__footer, .uploadcare--preview__back, .uploadcare--camera__button_type_capture {
  display: none;
}

