<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Entrevista Online</title>
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bitter|Open+Sans:400,800" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="../css/main.css">
</head>

<body class="">
  <main class="container d-flex align-items-center justify-content-center vh-100">
    <div class="row">
      <img class="chevron-left" src="../assets/images/chevron-left.png">
      <img class="chevron-right" src="../assets/images/chevron-right.png">
      <div class="col-sm-8 offset-sm-2">
        <h3 class="text-center text-proceso">Proceso de Admisión LIM2018-1</h3>
        <h3 class="text-center cuadro-dash text-proceso">Dashboard de entrevistas de postulantes</h3>
        <div class="mt-5">
          <ul class="list-dash">
            <li class="list-1">Cantidad de registradas.
              <img class="registradas" src="../assets/images/plus-amarillo.png" alt="icon">
            </li>
            <li class="list-2">Cantidad de postulantes que completaron todo el proceso.
              <img src="../assets/images/plus-amarillo.png" alt="icon">
            </li>
            <li class="list-3">Cantidad de postulantes que no completaron el proceso.
              <img src="../assets/images/plus-amarillo.png" alt="icon">
            </li>
          </ul>
        </div>
      </div>
    </div>
  </main>

  <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="../js/admin.js"></script>
</body>

</html>